/* stylelogin.css */
body {
    font-family: "Poppins",sans-serif;
    background-image: url('loginkmp.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-container h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: calc(100% - 12px);
}

.input-group label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.forgot-password {
    position: absolute;
    top: 5px;
    right: 5px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 10px;
}

.login-container button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.login-container button:active {
    background-color: #004085;
    transform: translateY(0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.signup-link {
    color: #fff;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.or-divider {
    color: #fff;
    margin: 10px 0;
    text-align: center;
}

.google-signin-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.google-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: transparent;
    mix-blend-mode: multiply;
}

.google-signin-button button:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.google-signin-button button:active {
    background-color: #e6e6e6;
    transform: translateY(0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}