@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-right: 5px;
    transition: transform 0.5s;
}

svg {
    width: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart {
    position: relative;
}

header .icon-cart span {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

/* Products Listing */
.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #eeeee6;
    padding: 10px;
    border-radius: 20px;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #000900);
    background-color: transparent;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

/* Shopping Cart */
.cartTab {
    width: 400px;
    background-color: #353432;
    color: white;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cartTab .btn button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close {
    background-color: #eee;
}

.cartTab .listCart {
    overflow: auto;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.cartTab .listCart .item img {
    width: 100%;
    filter: brightness(100%) invert(100%);
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even) {
    background-color: #eee1ee;
}

.listCart::-webkit-scrollbar {
    width: 0;
}
